# Node modules
node_modules/

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
*.log

# Environment variables
.env
.env.*.local
*.env

# IDE/Editor settings
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
*.ds_store

# Temp files
tmp/
temp/

# Build output
dist/
build/
out/

# Mac OS specific files
.DS_Store